/* style.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

p.button {
  line-height: 40px;
  margin-top: 50px !important; }

.button-gray-solid {
  padding: 10px 50px;
  color: inherit;
  text-align: center;
  background: #282828;
  transition: all 300ms ease;
  color: #fff; }
  .button-gray-solid:hover {
    background: #4e4e4e; }

.button-orange-solid {
  padding: 10px 50px;
  color: inherit;
  text-align: center;
  background: #e96949;
  transition: all 300ms ease;
  color: #fff; }
  .button-orange-solid:hover {
    background: #ec7c60; }

.embed_container {
  position: relative;
  padding-bottom: 54.5%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto; }
  .embed_container iframe, .embed_container object, .embed_container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  text-transform: uppercase;
  font-family: "alternate-gothic-no-2-d", sans-serif;
  font-weight: 400; }

h1, .h1 {
  font-size: 48px;
  line-height: 58px; }

h2, .h2 {
  font-size: 35px;
  line-height: 30px; }
  h2 span, .h2 span {
    text-transform: lowercase; }
    h2 span span, .h2 span span {
      color: #f36c3e; }
  h2.line, .h2.line {
    border-left: 10px solid #f36c3e;
    padding-left: 15px;
    margin-left: -25px;
    padding-top: 4px;
    margin-bottom: 25px; }

h3, .h3 {
  font-size: 30px;
  line-height: 40px; }

h4, .h4 {
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #282828; }

h5, .h5 {
  text-transform: uppercase; }

hr {
  border: 0;
  height: 1px;
  max-width: 60px;
  margin: 20px auto 25px auto;
  background: #f36c3e; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

a {
  text-decoration: none; }

p {
  margin-bottom: 15px; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

.aligncenter {
  text-align: center; }

.alignright {
  text-align: right; }

.alignleft {
  text-align: left; }

.nopadtop {
  padding-top: 0; }

.nopadbottom {
  padding-bottom: 0 !important; }

body {
  font: 16px "source-sans-pro", sans-serif;
  color: #282828;
  background-color: #fff;
  font-weight: 300;
  line-height: 28px; }

.container {
  max-width: 1380px;
  margin-left: auto;
  margin-right: auto;
  width: 90%; }
  .container:after {
    content: "";
    display: table;
    clear: both; }

.small_container {
  max-width: 800px;
  margin: 0 auto; }

.section {
  padding: 120px 0; }

.small_section {
  padding: 40px 0; }

.intro {
  margin: auto;
  max-width: 830px;
  text-align: center; }
  .intro h2 {
    margin-bottom: 10px; }
  .intro p {
    margin: 0 auto 20px auto;
    max-width: 730px; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: #4b4b4b;
  opacity: 0.75; }

.pattern {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: url(../images/pattern.png) repeat center top;
  opacity: 0.55;
  transition: all 200ms ease-in-out; }

header {
  width: 100%;
  background-attachment: fixed;
  background-size: cover; }
  header .logo {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -130px;
    padding-top: 3%;
    max-width: 260px;
    height: auto;
    z-index: 20; }
    header .logo img {
      width: 100%;
      height: auto; }
  header .container {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative;
    z-index: 20;
    top: 55%;
    width: 60%;
    color: #fff;
    font-size: 17px;
    line-height: 28px;
    margin-left: 5%; }
    header .container h1 {
      margin-bottom: 10px;
      font-size: 80px;
      line-height: 90px;
      text-transform: none; }

.main_nav {
  background: #282828;
  text-align: center;
  position: relative;
  width: 100%;
  transition: all 200ms ease; }
  .main_nav .logo {
    background: url(../images/nav_logo.svg) no-repeat center center;
    display: block;
    width: 50px;
    height: 50px;
    text-indent: -9999px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px;
    transition: all 200ms ease;
    z-index: 10001; }
    .main_nav .logo a {
      display: block;
      width: 50px;
      height: 50px;
      text-indent: -9999px;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -25px;
      margin-top: -25px; }
  .main_nav .navigation {
    padding: 10px 0;
    display: block;
    width: 100%; }
    .main_nav .navigation li {
      display: inline-block;
      zoom: 1;
      *display: inline;
      color: #fff;
      position: relative;
      margin-right: 20px;
      padding: 15px 20px; }
      .main_nav .navigation li:nth-child(3) {
        padding-right: 8%; }
      .main_nav .navigation li:nth-child(4) {
        padding-left: 5%; }
      .main_nav .navigation li:last-child {
        margin-right: 5%; }
    .main_nav .navigation .current-menu-item a {
      border-bottom: 1px solid #f36c3e; }
    .main_nav .navigation .current-menu-item .sub-menu a {
      border-bottom: 0 !important; }
    .main_nav .navigation a {
      color: inherit;
      font-weight: 300;
      text-transform: uppercase; }
    .main_nav .navigation .sub-menu {
      display: none;
      position: absolute;
      top: 100%;
      background: #282828;
      text-align: left;
      z-index: 10000; }
      .main_nav .navigation .sub-menu li {
        float: none;
        margin-top: 0;
        padding: 10px 20px; }
    .main_nav .navigation .menu-item-has-children:hover .sub-menu {
      display: block; }

.secondary_nav {
  background: #343434;
  text-align: center;
  position: relative;
  width: 100%;
  padding: 15px 0 10px 0; }
  .secondary_nav .navigation {
    display: inline-block;
    zoom: 1;
    *display: inline; }
    .secondary_nav .navigation li {
      float: left;
      padding: 0 20px; }
    .secondary_nav .navigation a {
      color: #d7d7d7; }
    .secondary_nav .navigation .current {
      color: #d7d7d7;
      font-weight: 500;
      border-bottom: 1px solid #f36c3e; }

.sticky {
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 9999; }

.secondary_nav.sticky {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05); }

.header_toggle {
  display: none;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 5%;
  top: 50%;
  margin-top: -12px;
  cursor: pointer; }
  .header_toggle span {
    background: url(../images/menu.svg) no-repeat center center;
    display: block;
    width: 25px;
    height: 25px;
    transition: all 200ms ease-in-out; }

.scroll_down {
  display: inline-block;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 25px;
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  z-index: 25;
  color: #fff;
  opacity: 0.5; }

footer {
  background: #282828;
  padding: 90px 0 20px 0;
  color: #9ea1a2;
  font-weight: 300; }
  footer a {
    color: inherit; }
  footer .upper_footer:after {
    content: "";
    display: table;
    clear: both; }
  footer .upper_footer .footer_section {
    float: left;
    display: block;
    margin-right: 2.63158%;
    width: 20.16974%; }
    footer .upper_footer .footer_section:last-child {
      margin-right: 0; }
    footer .upper_footer .footer_section.subscribe {
      float: left;
      display: block;
      margin-right: 2.63158%;
      width: 31.57895%; }
      footer .upper_footer .footer_section.subscribe:last-child {
        margin-right: 0; }
      footer .upper_footer .footer_section.subscribe .button-orange-solid {
        width: 100%;
        display: block;
        text-align: center; }
  footer .upper_footer h4 {
    color: #fff; }
  footer .footer_divider {
    border-top: 1px solid #636565;
    position: relative;
    z-index: 10;
    opacity: 0.5;
    margin-top: 50px; }
    footer .footer_divider .divider_logo_wrapper {
      position: relative;
      display: block;
      width: 70px;
      height: 70px;
      margin: 0 auto; }
    footer .footer_divider .padding {
      position: absolute;
      background-color: #282828;
      display: block;
      width: 52px;
      height: 70px;
      z-index: 70;
      left: 8px; }
    footer .footer_divider .divider_logo {
      margin: -35px auto 0 auto;
      width: 70px;
      height: 70px;
      z-index: 80;
      position: relative; }
      footer .footer_divider .divider_logo img {
        display: block;
        width: 70px;
        height: 70px;
        position: relative;
        z-index: 50; }
  footer .lower_footer:after {
    content: "";
    display: table;
    clear: both; }
  footer .lower_footer .copyright {
    float: left; }
  footer .lower_footer .credentials {
    float: right; }

.social_links:after {
  content: "";
  display: table;
  clear: both; }
.social_links li {
  float: left;
  width: 20px;
  height: 20px;
  display: block;
  margin-right: 10px; }
  .social_links li:last-child {
    margin-right: 0; }

input, textarea {
  padding: 10px 15px;
  border: 0;
  background: #f4f4f4;
  transition: all 300ms ease;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0; }

textarea {
  resize: vertical; }

.slider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0); }
  .slider__wrapper {
    height: 100%;
    list-style: none; }
    .slider__wrapper:after {
      content: "";
      display: table;
      clear: both; }
  .slider__item {
    height: 100%;
    float: left;
    clear: none; }
  .slider__arrows-item {
    position: absolute;
    z-index: 20;
    margin-bottom: -20px;
    padding: 20px;
    text-indent: -9999px;
    opacity: 0.25;
    display: block;
    width: 26px;
    height: 45px;
    transition: opacity 300ms ease; }
    .slider__arrows-item--right {
      background: url(../images/right_arrow.svg) no-repeat center center;
      bottom: 50%;
      right: 30px; }
    .slider__arrows-item--left {
      background: url(../images/left_arrow.svg) no-repeat center center;
      bottom: 50%;
      left: 30px; }
    .slider__arrows-item:hover {
      opacity: 0.75; }
  .slider__nav {
    position: absolute;
    bottom: 30px; }
    .slider__nav-item {
      width: 12px;
      height: 12px;
      float: left;
      clear: none;
      display: block;
      margin: 0 5px;
      background: #fff; }
      .slider__nav-item--current {
        background: #ccc; }
      .slider__nav-item:hover {
        background: #ccc; }

#whr_embed_hook .whr-items,
#whr_embed_hook .whr-item,
#whr_embed_hook .whr-info {
  background: none;
  list-style: none;
  margin: 0;
  padding: 0; }

#whr_embed_hook .whr-item {
  margin-bottom: .5rem; }

#whr_embed_hook .whr-item:last-child {
  margin-bottom: 0; }

#whr_embed_hook .whr-items {
  padding: 0; }
  #whr_embed_hook .whr-items a {
    color: #f36c3e; }

#whr_embed_hook .whr-group {
  margin: 0;
  padding: .2rem .4rem;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #e8f1f5; }

#whr_embed_hook .whr-toggle {
  margin-top: .5rem; }

#whr_embed_hook .whr-toggle a {
  display: block; }

#whr_embed_hook .whr-toggle:hover {
  background: #dce5e9; }

#whr_embed_hook .whr-toggle:first-child {
  margin-top: 0; }

#whr_embed_hook .whr-active {
  background: #dce5e9; }

#whr_embed_hook .whr-active + .whr-items {
  background: #e8f1f5; }

#whr_embed_hook .whr-info {
  font-weight: 500; }

#whr_embed_hook .whr-info li {
  background: none;
  display: inline;
  margin: 0 .2rem 0 0;
  padding: .1rem .4rem;
  border: 1px solid #dce5e9;
  font-size: 1rem; }

.whr-date {
  display: none !important; }

#whr_embed_hook .whr-info li span {
  color: #959fa4;
  text-transform: uppercase;
  font-size: 1rem; }

#whr_embed_hook .whr-title {
  margin: 0;
  padding: .5rem 0; }

#whr_embed_hook .whr-description {
  border: 0;
  background: #fff;
  clear: both;
  font-size: 1rem;
  margin: .5rem 0 0 0;
  padding: .5rem 0;
  line-height: 1.4; }

#whr_embed_hook .whr-description ul {
  margin: .5rem 0; }

#whr_embed_hook .whr-description li {
  margin: .25rem 0; }

.home header .container {
  width: 100%;
  text-align: center;
  margin: 0 auto; }
  .home header .container h1 {
    font-size: 155px;
    line-height: 135px;
    text-transform: uppercase; }
  .home header .container h3 {
    color: #9ea1a2;
    margin-top: -30px;
    font-weight: 300;
    font-family: "source-sans-pro", sans-serif;
    font-size: 38px;
    line-height: 45px;
    text-transform: uppercase; }

.half_logo_wrapper {
  background: url(../images/half_logo_bg.jpg) no-repeat center center;
  background-attachment: fixed;
  border-bottom: 1px solid #cccccc;
  margin-top: 100px;
  overflow: hidden; }
  .half_logo_wrapper .half_logo {
    display: block;
    max-width: 530px;
    width: 70%;
    height: auto;
    margin: 0 auto;
    position: relative; }
    .half_logo_wrapper .half_logo:before, .half_logo_wrapper .half_logo:after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      background: #fff; }
    .half_logo_wrapper .half_logo:before {
      left: -100%; }
    .half_logo_wrapper .half_logo:after {
      right: -100%; }
    .half_logo_wrapper .half_logo img {
      display: block;
      width: 100%;
      height: auto; }

.hp_services {
  margin-top: 100px; }
  .hp_services:after {
    content: "";
    display: table;
    clear: both; }
  .hp_services .hp_service {
    float: left;
    width: 50%;
    border-bottom: 1px solid #ccc;
    padding: 5% 0; }
    .hp_services .hp_service:nth-child(odd) {
      padding-right: 5%; }
    .hp_services .hp_service:nth-child(even) {
      padding-left: 5%; }
    .hp_services .hp_service h2 {
      margin-bottom: 10px; }
    .hp_services .hp_service p.button {
      margin-top: 40px; }
  .hp_services > li:nth-last-of-type(-n+2) {
    border-bottom: 0; }

.testimonials {
  background: url(../images/testimonial_bg.jpg) no-repeat center top;
  color: #fff;
  text-align: center;
  position: relative; }
  .testimonials .pattern {
    opacity: 0.45; }
  .testimonials .testimonial_slider {
    z-index: 20; }
    .testimonials .testimonial_slider .intro {
      width: 80%; }

.hp_locations {
  background: url(../images/locations_bg.jpg) no-repeat center top;
  background-size: cover; }

.hp_news {
  margin-top: 65px; }

.section_header {
  margin-bottom: 40px; }
  .section_header:after {
    content: "";
    display: table;
    clear: both; }
  .section_header h2 {
    display: inline-block;
    float: left; }
  .section_header p.button {
    margin-top: 0 !important;
    float: right; }

.philosophy_wrapper {
  background: url(../images/philosophy_bg.jpg) no-repeat center top;
  background-size: cover;
  color: #fff;
  position: relative; }
  .philosophy_wrapper .container {
    position: relative;
    z-index: 30; }
    .philosophy_wrapper .container .philosophy_left {
      float: left;
      display: block;
      margin-right: 2.63158%;
      width: 48.68421%; }
      .philosophy_wrapper .container .philosophy_left:last-child {
        margin-right: 0; }
      .philosophy_wrapper .container .philosophy_left h2 {
        margin-bottom: 20px; }
    .philosophy_wrapper .container .philosophy_right {
      margin-left: 12.82895%;
      float: left;
      display: block;
      margin-right: 2.63158%;
      width: 35.85526%;
      position: relative;
      font-size: 30px;
      line-height: 40px;
      font-weight: 300;
      margin-top: 120px; }
      .philosophy_wrapper .container .philosophy_right:last-child {
        margin-right: 0; }
      .philosophy_wrapper .container .philosophy_right p {
        position: relative;
        z-index: 30; }
      .philosophy_wrapper .container .philosophy_right:before {
        content: "";
        display: block;
        background: url(../images/quote_icon.svg) no-repeat center center;
        width: 110px;
        height: 110px;
        position: absolute;
        top: -80px;
        left: -50px;
        opacity: 0.5;
        z-index: 20; }

.press_releases {
  border-bottom: 1px solid #ccc; }

.press_releases_wrapper {
  display: table; }

.press_releases_nav {
  float: left;
  display: block;
  margin-right: 2.63158%;
  width: 31.57895%;
  display: table-cell;
  float: none;
  border-right: 1px solid #ccc;
  position: relative;
  list-style: none;
  padding-right: 2.63158%; }
  .press_releases_nav:last-child {
    margin-right: 0; }
  .press_releases_nav:after {
    content: "";
    display: block;
    position: absolute;
    top: -6px;
    right: -6px;
    background: #ccc;
    width: 12px;
    height: 12px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%; }
  .press_releases_nav li {
    margin-bottom: 25px; }
    .press_releases_nav li img {
      display: block;
      width: 100%;
      height: auto;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      border: 2px solid transparent;
      transition: all 200ms ease-in-out; }
    .press_releases_nav li:last-child {
      margin-bottom: 0; }
  .press_releases_nav #current img {
    border: 2px solid #f36c3e; }
  .press_releases_nav a {
    color: #f36c3e; }
  .press_releases_nav .press_release_date {
    font-style: italic;
    margin-bottom: 0; }

.press_releases_content {
  float: left;
  display: block;
  margin-right: 2.63158%;
  width: 65.78947%;
  display: table-cell;
  float: none;
  padding-left: 2.63158%; }
  .press_releases_content:last-child {
    margin-right: 0; }
  .press_releases_content a {
    color: #f36c3e; }

.additional_information .forms {
  margin-top: 40px; }
  .additional_information .forms li {
    margin-bottom: 5px; }
    .additional_information .forms li a {
      color: #e96949; }

.our_story_video {
  margin-top: 50px; }

.programs_wrapper hr {
  background: #cccccc;
  max-width: 90%;
  margin-top: 5%;
  margin-bottom: 5%; }

.program_images:after {
  content: "";
  display: table;
  clear: both; }
.program_images li {
  float: left;
  width: 25%; }
  .program_images li a {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.25;
    cursor: pointer;
    transition: all 200ms ease; }
    .program_images li a:hover, .program_images li a#current {
      opacity: 1; }
  .program_images li img {
    display: block;
    width: 100%;
    height: auto; }

.life_development_intro {
  position: relative;
  background: url(../images/life_development_bg.jpg) no-repeat center top;
  background-size: cover; }
  .life_development_intro .intro {
    position: relative;
    z-index: 30;
    width: 90%;
    color: #fff; }

.what_is_life_development {
  float: left;
  display: block;
  margin-right: 2.63158%;
  width: 44.40789%; }
  .what_is_life_development:last-child {
    margin-right: 0; }
  .what_is_life_development h2 {
    margin-bottom: 30px; }

.life_development_video {
  margin-left: 4.27632%;
  float: left;
  display: block;
  margin-right: 2.63158%;
  width: 48.68421%; }
  .life_development_video:last-child {
    margin-right: 0; }

#who_we_work_with {
  width: 100%;
  height: auto;
  padding: 10em 0;
  background: url(../images/half_logo_bg.jpg) no-repeat center center;
  position: relative; }
  #who_we_work_with .container {
    position: relative;
    z-index: 20;
    width: 60%;
    color: #fff;
    font-size: 17px;
    line-height: 28px;
    margin-left: 5%; }
    #who_we_work_with .container h1 {
      margin-bottom: 10px;
      font-size: 80px;
      line-height: 90px;
      text-transform: none; }

.mental_health_bottom {
  display: table;
  width: 100%; }

.mental_health_specifics, .mental_health_stats {
  position: relative;
  display: table-cell;
  width: 50%;
  margin-right: 0;
  padding: 5%; }

.mental_health_specifics {
  background: #f4f4f4; }
  .mental_health_specifics .specific {
    margin-bottom: 100px; }
    .mental_health_specifics .specific:last-child {
      margin-bottom: 0; }

.mental_health_stats {
  background: url(../images/stats_bg.jpg) no-repeat right center;
  background-size: cover;
  color: #fff; }
  .mental_health_stats .wrapper {
    position: relative;
    z-index: 30; }
    .mental_health_stats .wrapper h1 {
      color: #f36c3e;
      margin-bottom: 0; }

.stats li {
  margin-bottom: 50px; }
  .stats li .stat {
    font-size: 70px;
    line-height: 60px;
    margin-bottom: 0; }

.chemical_dependency_images:after {
  content: "";
  display: table;
  clear: both; }
.chemical_dependency_images li {
  float: left; }
  .chemical_dependency_images li img {
    position: relative;
    display: block;
    width: 100%;
    height: auto; }
  .chemical_dependency_images li:nth-child(1) {
    width: 40%; }
  .chemical_dependency_images li:nth-child(2) {
    width: 32%; }
    .chemical_dependency_images li:nth-child(2) img {
      top: -4em; }
  .chemical_dependency_images li:nth-child(3) {
    width: 28%; }
    .chemical_dependency_images li:nth-child(3) img {
      top: 4em; }

.location_bucket_wrapper {
  margin-top: 100px; }

.location_bucket {
  background-position: center center;
  background-size: cover;
  padding: 12em 0;
  color: #fff;
  position: relative;
  margin-bottom: 10px; }
  .location_bucket a.block_link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
    z-index: 50; }
  .location_bucket:hover .pattern {
    opacity: 0.75; }
  .location_bucket .container {
    position: relative;
    z-index: 40; }
    .location_bucket .container h1 {
      margin-top: 15px;
      font-size: 100px;
      line-height: 90px; }
    .location_bucket .container p.button {
      margin-top: 10px !important; }

.page-template-page-locations-single-php .intro p {
  margin-bottom: 0; }

.locations_nav:after {
  content: "";
  display: table;
  clear: both; }
.locations_nav li {
  float: left;
  margin-right: 15px; }
  .locations_nav li:last-child {
    margin-right: 0; }
.locations_nav a {
  color: #f36c3e; }

.map_wrapper {
  height: 450px; }
  .map_wrapper:after {
    content: "";
    display: table;
    clear: both; }
  .map_wrapper .location_map, .map_wrapper .location_image {
    float: left;
    width: 50%;
    height: 450px;
    overflow: hidden; }
  .map_wrapper .location_image img {
    display: block;
    width: auto;
    height: 100%; }

.team_wrapper {
  display: block; }
  .team_wrapper h2 {
    margin-bottom: 60px; }
    .team_wrapper h2:after {
      content: "";
      display: table;
      clear: both; }

.team_headshots {
  width: 100%;
  display: block;
  float: none;
  border-right: 0;
  border-bottom: 1px solid #ccc;
  position: relative;
  list-style: none;
  padding-right: 0;
  padding-bottom: 15px;
  vertical-align: inherit; }
  .team_headshots:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    position: relative;
    top: auto;
    right: auto;
    background: none;
    width: auto;
    height: auto;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0; }
  .team_headshots li {
    float: left;
    width: 10.11%;
    margin: 0 0.5% 0.5% 0.5%; }
    .team_headshots li img {
      display: block;
      width: 100%;
      height: auto;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      border: 2px solid transparent;
      transition: all 200ms ease-in-out; }
  .team_headshots #current img {
    border: 2px solid #f36c3e; }

.bio_wrapper {
  width: 100%;
  display: block;
  float: none;
  padding-left: 0;
  padding-top: 25px; }
  .bio_wrapper .bio_meta {
    font-weight: 500; }
    .bio_wrapper .bio_meta span {
      color: #f36c3e; }

.services_wrapper {
  background: url(../images/services_bg.jpg) no-repeat center top;
  background-attachment: scroll;
  background-size: cover;
  color: #fff;
  padding-top: 65px; }
  .services_wrapper .services_list:after {
    content: "";
    display: table;
    clear: both; }
  .services_wrapper .services_list li {
    width: 100%;
    float: none;
    display: block;
    margin-bottom: 40px; }
    .services_wrapper .services_list li:after {
      content: "";
      display: table;
      clear: both; }
    .services_wrapper .services_list li:last-child {
      margin-bottom: 0; }
  .services_wrapper .services_list p {
    line-height: inherit; }
  .services_wrapper .services_list .services_left {
    float: left;
    display: block;
    margin-right: 2.63158%;
    width: 27.30263%; }
    .services_wrapper .services_list .services_left:last-child {
      margin-right: 0; }
    .services_wrapper .services_list .services_left .hours_rates {
      color: #f36c3e; }
    .services_wrapper .services_list .services_left h4 {
      font-family: "source-sans-pro", sans-serif;
      color: #fff; }
  .services_wrapper .services_list .services_right {
    margin-left: 4.27632%;
    float: left;
    display: block;
    margin-right: 2.63158%;
    width: 65.78947%; }
    .services_wrapper .services_list .services_right:last-child {
      margin-right: 0; }

.btw {
  margin-top: 70px;
  margin-bottom: 70px;
  display: inline-block;
  zoom: 1;
  *display: inline; }
  .btw li {
    float: left;
    padding: 0 20px;
    max-width: 250px;
    max-height: 250px; }
    .btw li img {
      display: block;
      max-width: 100%;
      height: auto; }

.news_buckets.horizontal {
  border-top: 1px solid #ccc; }
  .news_buckets.horizontal .news_bucket {
    float: left;
    width: 33.3333%;
    padding: 5%;
    border-right: 1px solid #ccc; }
    .news_buckets.horizontal .news_bucket:last-child {
      border-right: 0; }
    .news_buckets.horizontal .news_bucket .read_more {
      margin-top: 15px; }
      .news_buckets.horizontal .news_bucket .read_more a {
        color: #f36c3e;
        font-weight: 400; }

.news_buckets.vertical {
  display: block;
  max-width: 800px;
  margin: 0 auto; }
  .news_buckets.vertical .news_bucket {
    float: none;
    width: 100%;
    padding: 0 0 10% 0;
    margin: 0 0 10% 0;
    border-bottom: 1px solid #ccc; }
    .news_buckets.vertical .news_bucket:last-child {
      border-bottom: 0;
      margin-bottom: 0;
      padding-bottom: 0; }
    .news_buckets.vertical .news_bucket .read_more {
      margin-top: 35px; }
      .news_buckets.vertical .news_bucket .read_more a {
        color: #fff;
        font-weight: 400; }

article:after {
  content: "";
  display: table;
  clear: both; }
article img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto; }
article a {
  color: #f36c3e; }

.category_header {
  margin-bottom: 100px; }

.entry_date {
  font: 28px "alternate-gothic-no-2-d", sans-serif;
  color: #fff;
  background: #282828;
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  text-align: center; }
  .entry_date:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle; }
  .entry_date span {
    display: inline-block;
    vertical-align: middle;
    width: 100%; }

.entry_thumb {
  margin-bottom: 15px;
  position: relative; }
  .entry_thumb .entry_date {
    position: absolute;
    z-index: 20;
    top: -20px;
    left: -20px; }

.entry_thumb {
  margin-bottom: 25px;
  position: relative; }
  .entry_thumb .entry_date {
    position: absolute;
    z-index: 20;
    top: -20px;
    left: -20px; }

.entry_title {
  font-weight: 700;
  margin-bottom: 0; }
  .entry_title a {
    color: inherit; }

.entry_meta {
  color: #f36c3e; }
  .entry_meta a {
    color: inherit; }
    .entry_meta a:hover {
      text-decoration: underline; }

article.episodes:after {
  content: "";
  display: table;
  clear: both; }
article.episodes .entry_thumb {
  float: left;
  width: 20%; }
article.episodes .entry_content {
  float: left;
  width: 80%;
  padding-left: 3%; }
article.episodes .entry_date {
  font: 24px "alternate-gothic-no-2-d", sans-serif;
  color: #a8a8a8;
  background: transparent;
  display: block;
  width: auto;
  height: auto;
  border-radius: 0;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 5px; }
  article.episodes .entry_date:before {
    content: '';
    display: none;
    height: 100%;
    vertical-align: middle; }
  article.episodes .entry_date span {
    display: inline-block;
    vertical-align: middle;
    width: 100%; }
article.episodes .entry_title {
  margin-bottom: 0px; }
article.episodes .entry_audio {
  margin-bottom: 20px; }
article.episodes .audio_links span {
  margin-right: 10px; }

.categories_wrapper {
  margin-top: 80px; }

.categories {
  text-align: center; }
  .categories li {
    display: inline-block;
    *display: inline;
    /*IE7*/
    *zoom: 1;
    /*IE7*/
    margin: 0 10px; }
  .categories a {
    color: inherit; }
    .categories a:hover {
      text-decoration: underline; }

body.single header {
  display: none; }
body.single article {
  border-bottom: 1px solid #ccc; }

.addthis_toolbox {
  margin: 50px 0 25px; }

.post_navigation {
  margin-top: 15px; }
  .post_navigation:after {
    content: "";
    display: table;
    clear: both; }
  .post_navigation .post_nav_item {
    float: left;
    display: block;
    margin-right: 2.63158%;
    width: 48.68421%; }
    .post_navigation .post_nav_item:last-child {
      margin-right: 0; }
  .post_navigation .next {
    text-align: right; }
  .post_navigation a {
    color: #f36c3e; }

.comments {
  margin-top: 60px; }

.pagination {
  text-align: center;
  margin-top: 80px; }

ul.page-numbers {
  display: inline-block;
  zoom: 1;
  *display: inline;
  list-style: none;
  margin: 0; }

.page-numbers:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

ul.page-numbers li {
  display: block;
  float: left;
  margin: 0 4px 4px 0;
  text-align: center; }

.page-numbers a,
.page-numbers span {
  line-height: 1.6em;
  display: block;
  padding: 0 6px;
  height: 30px;
  line-height: 30px;
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;
  border: 1px solid #ddd;
  color: #888; }

.page-numbers a span {
  padding: 0; }

.page-numbers a:hover,
.page-numbers.current,
.page-numbers.current:hover {
  color: #000;
  background: #f7f7f7;
  text-decoration: none; }

.page-numbers:hover {
  text-decoration: none; }

.videos_wrapper:after {
  content: "";
  display: table;
  clear: both; }
.videos_wrapper li {
  float: left;
  width: 45%;
  margin-bottom: 5%; }
  .videos_wrapper li:nth-child(even) {
    float: right; }
  .videos_wrapper li:nth-child(odd) {
    clear: both; }
  .videos_wrapper li .video {
    position: relative;
    margin-bottom: 30px;
    cursor: pointer;
    overflow: hidden; }
    .videos_wrapper li .video .watch_video {
      position: absolute;
      font-size: 24px;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-weight: 100;
      color: #fff;
      text-align: center;
      top: -100%;
      left: 50%;
      margin-top: -14px;
      margin-left: -80px;
      transition: all 300ms ease;
      z-index: 20; }
    .videos_wrapper li .video .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
      background: #282828;
      opacity: 0.0;
      transition: all 200ms ease-in-out; }
    .videos_wrapper li .video img {
      display: block;
      width: 100%;
      height: auto; }
    .videos_wrapper li .video:hover .overlay {
      opacity: 0.85; }
    .videos_wrapper li .video:hover .watch_video {
      top: 50%; }
    .videos_wrapper li .video p {
      margin-bottom: 0; }
  .videos_wrapper li h2 {
    margin-bottom: 10px; }

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: #282828;
  z-index: 10005; }
  .modal .vid_wrap {
    position: relative;
    width: 80%;
    max-width: 900px;
    top: 50%;
    left: 50%;
    padding-bottom: 40%;
    /* 16:9 */
    height: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .modal .vid_wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.modal.open {
  display: block; }

#shark_tank, #lahh, #nyhh, #campout, #ghost_ship {
  display: none; }

.close_link {
  background: url(../images/close.svg) no-repeat center center;
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  right: 3%;
  top: 6%;
  cursor: pointer;
  text-indent: -9999px;
  opacity: 0.7;
  transition: all 200ms; }

.close_link:hover {
  opacity: 1; }

.office_locations {
  float: left;
  display: block;
  margin-right: 2.63158%;
  width: 40.13158%; }
  .office_locations:last-child {
    margin-right: 0; }

.contact_locations li {
  margin-top: 60px; }
  .contact_locations li h4 {
    color: #f36c3e; }
  .contact_locations li p {
    margin: 0; }

.form_wrapper {
  float: left;
  display: block;
  margin-right: 2.63158%;
  width: 57.23684%; }
  .form_wrapper:last-child {
    margin-right: 0; }
  .form_wrapper .ninja-forms-required-items {
    display: none; }
  .form_wrapper .field-wrap {
    margin-bottom: 2% !important; }
  .form_wrapper .grid-6-wrap {
    float: left;
    display: block;
    margin-right: 2.63158%;
    width: 48.68421%; }
    .form_wrapper .grid-6-wrap:last-child {
      margin-right: 0; }
    .form_wrapper .grid-6-wrap input {
      width: 100%; }
    .form_wrapper .grid-6-wrap.omega-wrap {
      margin-right: 0; }
  .form_wrapper .grid-12-wrap {
    float: left;
    display: block;
    margin-right: 2.63158%;
    width: 100%; }
    .form_wrapper .grid-12-wrap:last-child {
      margin-right: 0; }
    .form_wrapper .grid-12-wrap input, .form_wrapper .grid-12-wrap select {
      width: 100% !important; }
  .form_wrapper .button-orange-solid {
    display: block;
    width: 100%; }
    .form_wrapper .button-orange-solid:hover {
      cursor: pointer; }

@media only screen and (max-width: 1024px) {
  .what_is_life_development {
    width: 100%;
    float: none; }

  .life_development_video {
    display: block;
    width: 100%;
    float: none;
    text-align: center;
    margin: 60px auto 0 auto !important; } }
@media only screen and (max-width: 768px) {
  header {
    width: 100%;
    background-attachment: fixed;
    background-size: cover; }
    header .logo {
      display: block;
      position: absolute;
      left: 50%;
      margin-left: -115px;
      padding-top: 6%;
      max-width: 230px;
      height: auto;
      z-index: 20; }
      header .logo img {
        width: 100%;
        height: auto; }
    header .container {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      position: relative;
      z-index: 20;
      top: 55%;
      width: 60%;
      color: #fff;
      font-size: 17px;
      line-height: 28px;
      margin-left: 5%; }
      header .container h1 {
        margin-bottom: 10px;
        font-size: 80px;
        line-height: 90px;
        text-transform: none; }

  .main_nav {
    background: #282828;
    text-align: center;
    position: relative;
    width: 100%;
    height: 60px; }
    .main_nav .logo {
      background: url(../images/nav_logo.svg) no-repeat center center;
      display: block;
      width: 40px;
      height: 40px;
      text-indent: -9999px;
      position: absolute;
      left: 5%;
      top: 50%;
      margin-top: -20px;
      margin-left: 0; }
      .main_nav .logo a {
        display: block;
        width: 40px;
        height: 40px;
        text-indent: -9999px;
        position: absolute;
        left: 5%;
        top: 50%;
        margin-top: -20px;
        margin-left: 0;
        line-height: 50px;
        padding: 0; }
    .main_nav .navigation {
      padding: 0;
      background: #282828;
      display: block;
      text-align: left;
      position: absolute;
      top: 60px;
      right: 0;
      width: 100%;
      height: auto;
      display: none;
      overflow: hidden;
      transition: all 200ms ease-in-out; }
      .main_nav .navigation li {
        float: none;
        width: 100%;
        padding: 5px 5%;
        color: #fff;
        line-height: 21px;
        margin-top: 0; }
        .main_nav .navigation li:nth-child(3) {
          padding-right: 5%; }
        .main_nav .navigation li:nth-child(4) {
          padding-left: 5%; }
      .main_nav .navigation .current-menu-item a {
        border-bottom: 1px solid #f36c3e; }
      .main_nav .navigation .current-menu-item .sub-menu a {
        border-bottom: 0 !important; }
      .main_nav .navigation a {
        line-height: 30px;
        padding: 0;
        color: inherit;
        font-size: 14px;
        font-weight: 300;
        text-transform: uppercase; }
      .main_nav .navigation .sub-menu {
        display: block;
        position: relative;
        top: 0;
        background: #282828;
        text-align: left;
        z-index: 10000; }
        .main_nav .navigation .sub-menu li {
          width: 100%;
          float: none;
          margin-top: 0;
          padding: 0 20px 0 25px; }

  .header_toggle {
    display: block; }

  .toggled .navigation {
    z-index: 9999;
    display: block; }

  header .container {
    width: 90%;
    margin-right: 5%; }

  .hp_services {
    margin-top: 100px; }
    .hp_services:after {
      content: "";
      display: table;
      clear: both; }
    .hp_services .hp_service {
      float: none;
      width: 100%;
      border-bottom: 1px solid #ccc;
      margin-bottom: 5%;
      padding: 5% 0; }
      .hp_services .hp_service:nth-child(odd) {
        padding-right: 0%; }
      .hp_services .hp_service:nth-child(even) {
        padding-left: 0%; }
      .hp_services .hp_service h2 {
        margin-bottom: 10px; }
      .hp_services .hp_service p.button {
        margin-top: 40px; }
    .hp_services > li:nth-last-of-type(-n+2) {
      border-bottom: 1px solid #ccc; }

  #who_we_work_with {
    width: 100%;
    height: auto;
    padding: 10em 0;
    background: url(../images/half_logo_bg.jpg) no-repeat center center;
    background-attachment: fixed;
    position: relative; }
    #who_we_work_with .container {
      position: relative;
      z-index: 20;
      top: 0;
      width: 90%;
      color: #fff;
      font-size: 17px;
      line-height: 28px;
      margin-left: 5%;
      margin-right: 5%; }
      #who_we_work_with .container h1 {
        margin-bottom: 10px;
        font-size: 80px;
        line-height: 90px;
        text-transform: none; }

  .videos_wrapper:after {
    content: "";
    display: table;
    clear: both; }
  .videos_wrapper li {
    float: none;
    width: 100%;
    margin-bottom: 50px; }
    .videos_wrapper li:nth-child(even) {
      float: none; }
    .videos_wrapper li:nth-child(odd) {
      clear: both; }
    .videos_wrapper li .video {
      position: relative;
      margin-bottom: 30px;
      cursor: pointer;
      overflow: hidden; }
      .videos_wrapper li .video .watch_video {
        position: absolute;
        font-size: 24px;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: 100;
        color: #fff;
        text-align: center;
        top: -100%;
        left: 50%;
        margin-top: -14px;
        margin-left: -80px;
        transition: all 300ms ease;
        z-index: 20; }
      .videos_wrapper li .video .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        background: #282828;
        opacity: 0.0;
        transition: all 200ms ease-in-out; }
      .videos_wrapper li .video img {
        display: block;
        width: 100%;
        height: auto; }
      .videos_wrapper li .video:hover .overlay {
        opacity: 0.85; }
      .videos_wrapper li .video:hover .watch_video {
        top: 50%; }
      .videos_wrapper li .video p {
        margin-bottom: 0; }
    .videos_wrapper li h2 {
      margin-bottom: 10px; }

  .office_locations {
    float: left;
    display: block;
    margin-right: 2.63158%;
    width: 100%; }
    .office_locations:last-child {
      margin-right: 0; }

  .contact_locations:after {
    content: "";
    display: table;
    clear: both; }
  .contact_locations li {
    float: left;
    display: block;
    margin-right: 2.63158%;
    width: 40.13158%;
    margin-top: 0;
    margin-bottom: 50px; }
    .contact_locations li:last-child {
      margin-right: 0; }
    .contact_locations li h4 {
      color: #f36c3e; }
    .contact_locations li p {
      margin: 0; }
    .contact_locations li:nth-child(even) {
      margin-left: 8.55263%; }

  .form_wrapper {
    float: left;
    display: block;
    margin-right: 2.63158%;
    width: 100%; }
    .form_wrapper:last-child {
      margin-right: 0; }
    .form_wrapper .ninja-forms-required-items {
      display: none; }
    .form_wrapper .field-wrap {
      margin-bottom: 2% !important; }
    .form_wrapper .grid-6-wrap {
      float: left;
      display: block;
      margin-right: 2.63158%;
      width: 48.68421%; }
      .form_wrapper .grid-6-wrap:last-child {
        margin-right: 0; }
      .form_wrapper .grid-6-wrap input {
        width: 100%; }
      .form_wrapper .grid-6-wrap.omega-wrap {
        margin-right: 0; }
    .form_wrapper .grid-12-wrap {
      float: left;
      display: block;
      margin-right: 2.63158%;
      width: 100%; }
      .form_wrapper .grid-12-wrap:last-child {
        margin-right: 0; }
      .form_wrapper .grid-12-wrap input, .form_wrapper .grid-12-wrap select {
        width: 100% !important; }
    .form_wrapper .button-orange-solid {
      display: block;
      width: 100%; }
      .form_wrapper .button-orange-solid:hover {
        cursor: pointer; }

  .team_wrapper {
    display: block; }
    .team_wrapper h2 {
      margin-bottom: 60px; }
      .team_wrapper h2:after {
        content: "";
        display: table;
        clear: both; }

  .team_headshots {
    width: 100%;
    display: block;
    float: none;
    border-right: 0;
    border-bottom: 1px solid #ccc;
    position: relative;
    list-style: none;
    padding-right: 0;
    padding-bottom: 15px;
    vertical-align: inherit; }
    .team_headshots:after {
      clear: both;
      content: ".";
      display: block;
      height: 0;
      visibility: hidden;
      position: relative;
      top: auto;
      right: auto;
      background: none;
      width: auto;
      height: auto;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0; }
    .team_headshots li {
      float: left;
      width: 11.113%;
      margin: 0; }
      .team_headshots li img {
        display: block;
        width: 100%;
        height: auto;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        border: 2px solid transparent;
        transition: all 200ms ease-in-out; }
    .team_headshots #current img {
      border: 2px solid #f36c3e; }

  .bio_wrapper {
    width: 100%;
    display: block;
    float: none;
    padding-left: 0;
    padding-top: 15px; }
    .bio_wrapper .bio_meta {
      font-weight: 500; }
      .bio_wrapper .bio_meta span {
        color: #f36c3e; }

  .services_wrapper {
    background: url(../images/services_bg.jpg) no-repeat center top;
    background-attachment: scroll;
    background-size: cover;
    color: #fff;
    padding-top: 65px; }
    .services_wrapper .services_list:after {
      content: "";
      display: table;
      clear: both; }
    .services_wrapper .services_list li {
      width: 100%;
      float: none;
      display: block;
      margin-bottom: 40px; }
      .services_wrapper .services_list li:after {
        content: "";
        display: table;
        clear: both; }
      .services_wrapper .services_list li:last-child {
        margin-bottom: 0; }
    .services_wrapper .services_list p {
      line-height: inherit; }
    .services_wrapper .services_list .services_left {
      float: left;
      display: block;
      margin-right: 2.63158%;
      width: 100%; }
      .services_wrapper .services_list .services_left:last-child {
        margin-right: 0; }
      .services_wrapper .services_list .services_left .hours_rates {
        color: #f36c3e; }
      .services_wrapper .services_list .services_left h4 {
        font-family: "source-sans-pro", sans-serif;
        color: #fff; }
    .services_wrapper .services_list .services_right {
      margin-left: 0%;
      float: left;
      display: block;
      margin-right: 2.63158%;
      width: 100%; }
      .services_wrapper .services_list .services_right:last-child {
        margin-right: 0; } }
@media only screen and (max-width: 767px) {
  header {
    width: 100%;
    background-attachment: fixed;
    background-size: cover; }
    header .logo {
      display: block;
      position: absolute;
      left: 50%;
      margin-left: -90px;
      padding-top: 6%;
      max-width: 180px;
      height: auto;
      z-index: 20; }
      header .logo img {
        width: 100%;
        height: auto; }
    header .container h1 {
      margin-bottom: 10px;
      font-size: 40px;
      line-height: 45px;
      text-transform: none; }

  .home header .container {
    width: 100%;
    text-align: center;
    margin: 0 auto; }
    .home header .container h1 {
      font-size: 70px;
      line-height: 50px;
      text-transform: uppercase; }
    .home header .container h3 {
      color: #9ea1a2;
      margin-top: -10px;
      font-weight: 300;
      font-family: "source-sans-pro", sans-serif;
      font-size: 24px;
      line-height: 34px;
      text-transform: uppercase; }

  .news_buckets.horizontal {
    border-top: 0; }
    .news_buckets.horizontal .news_bucket {
      float: none;
      width: 100%;
      padding: 5%;
      margin-bottom: 5%;
      border-right: 0;
      border-bottom: 1px solid #ccc; }
      .news_buckets.horizontal .news_bucket:last-child {
        border-bottom: 0; }
      .news_buckets.horizontal .news_bucket .read_more {
        margin-top: 15px; }
        .news_buckets.horizontal .news_bucket .read_more a {
          color: #f36c3e;
          font-weight: 400; }

  footer .upper_footer:after {
    content: "";
    display: table;
    clear: both; }
  footer .upper_footer .footer_section {
    width: 100%;
    margin-bottom: 5%; }
    footer .upper_footer .footer_section.subscribe {
      width: 100%; }
      footer .upper_footer .footer_section.subscribe .button-orange-solid {
        width: 100%;
        display: block;
        text-align: center; }
  footer .lower_footer:after {
    content: "";
    display: table;
    clear: both; }
  footer .lower_footer .copyright {
    margin-top: 10px; }
  footer .lower_footer .copyright, footer .lower_footer .credentials {
    width: 100%;
    text-align: center;
    float: none;
    margin-bottom: 0; }

  .philosophy_wrapper {
    background: url(../images/philosophy_bg.jpg) no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    position: relative; }
    .philosophy_wrapper .container {
      position: relative;
      z-index: 30; }
      .philosophy_wrapper .container .philosophy_left {
        width: 100%;
        float: none;
        margin-bottom: 40px; }
      .philosophy_wrapper .container .philosophy_right {
        width: 100%;
        float: none;
        margin-left: 0; }

  .mental_health_bottom {
    display: block;
    width: 100%; }

  .mental_health_specifics, .mental_health_stats {
    position: relative;
    display: block;
    width: 100%;
    margin-right: 0;
    padding: 100px 5%; }

  .map_wrapper {
    height: auto; }
    .map_wrapper:after {
      content: "";
      display: table;
      clear: both; }
    .map_wrapper .location_map, .map_wrapper .location_image {
      float: none;
      width: 100%;
      height: 300px; }
    .map_wrapper .location_image {
      height: auto; }
      .map_wrapper .location_image img {
        display: block;
        width: 100%;
        height: auto; } }
@media only screen and (max-width: 480px) {
  .press_releases {
    display: none; }

  .chemical_dependency_images:after {
    content: "";
    display: table;
    clear: both; }
  .chemical_dependency_images li {
    float: left; }
    .chemical_dependency_images li img {
      position: relative;
      display: block;
      width: 100%;
      height: auto; }
    .chemical_dependency_images li:nth-child(1) {
      width: 40%; }
    .chemical_dependency_images li:nth-child(2) {
      width: 32%; }
      .chemical_dependency_images li:nth-child(2) img {
        top: -2em; }
    .chemical_dependency_images li:nth-child(3) {
      width: 28%; }
      .chemical_dependency_images li:nth-child(3) img {
        top: 2em; }

  .office_locations {
    float: left;
    display: block;
    margin-right: 2.63158%;
    width: 100%; }
    .office_locations:last-child {
      margin-right: 0; }

  .contact_locations:after {
    content: "";
    display: table;
    clear: both; }
  .contact_locations li {
    float: left;
    display: block;
    margin-right: 2.63158%;
    width: 100%;
    margin-top: 0;
    margin-bottom: 50px; }
    .contact_locations li:last-child {
      margin-right: 0; }
    .contact_locations li h4 {
      color: #f36c3e; }
    .contact_locations li p {
      margin: 0; }
    .contact_locations li:nth-child(even) {
      margin-left: 0%; }

  .form_wrapper {
    float: left;
    display: block;
    margin-right: 2.63158%;
    width: 100%; }
    .form_wrapper:last-child {
      margin-right: 0; }
    .form_wrapper .ninja-forms-required-items {
      display: none; }
    .form_wrapper .field-wrap {
      margin-bottom: 2% !important; }
    .form_wrapper .grid-6-wrap {
      float: left;
      display: block;
      margin-right: 2.63158%;
      width: 100%; }
      .form_wrapper .grid-6-wrap:last-child {
        margin-right: 0; }
      .form_wrapper .grid-6-wrap input {
        width: 100%; }
      .form_wrapper .grid-6-wrap.omega-wrap {
        margin-right: 0; }
    .form_wrapper .grid-12-wrap {
      float: left;
      display: block;
      margin-right: 2.63158%;
      width: 100%; }
      .form_wrapper .grid-12-wrap:last-child {
        margin-right: 0; }
      .form_wrapper .grid-12-wrap input, .form_wrapper .grid-12-wrap select {
        width: 100% !important; }
    .form_wrapper .button-orange-solid {
      display: block;
      width: 100%; }
      .form_wrapper .button-orange-solid:hover {
        cursor: pointer; }

  .location_bucket {
    background-position: center center;
    background-size: cover;
    padding: 7em 0;
    color: #fff;
    position: relative;
    margin-bottom: 10px; }
    .location_bucket a.block_link {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-indent: -9999px;
      z-index: 50; }
    .location_bucket:hover .pattern {
      opacity: 0.75; }
    .location_bucket .container {
      position: relative;
      z-index: 40; }
      .location_bucket .container h1 {
        margin-top: 15px;
        font-size: 50px;
        line-height: 40px; }
      .location_bucket .container p.button {
        margin-top: 10px !important; }

  .services_wrapper .section_header {
    margin-bottom: 40px; }
    .services_wrapper .section_header:after {
      content: "";
      display: table;
      clear: both; }
    .services_wrapper .section_header h2 {
      display: block;
      float: none; }
    .services_wrapper .section_header p.button {
      display: block;
      margin-top: 0 !important;
      float: none; }

  .slider__arrows {
    display: none; } }
