// Mixins
@mixin vertical-align {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
@mixin horizontal-align {
	position: relative;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin box-sizing {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

* {
	@include box-sizing;
}

p.button {
	line-height: 40px;
	margin-top: 50px !important;
}

@mixin button {
	padding: 10px 50px;
	color: inherit;
	text-align: center;
}

@mixin button-gray-solid {
	@include button;
	background: $darkgray;
	transition: all 300ms ease;
	color: $white;
	&:hover {
		background: lighten($darkgray, 15);
	}
}

@mixin button-orange-solid {
	@include button;
	background: $lightorange;
	transition: all 300ms ease;
	color: $white;
	&:hover {
		background: lighten($lightorange, 5);
	}
}

.button-gray-solid {
	@include button-gray-solid;
}

.button-orange-solid {
	@include button-orange-solid;
}

.embed_container {
	position: relative;
	padding-bottom: 54.5%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	height: auto;
	iframe, object, embed {
		position: absolute;
		top: 0; left: 0;
		width: 100%;
		height: 100%; 
	}
}


// Global Elements
h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
	text-transform: uppercase;
	font-family: $headlinefont;
	font-weight: 400;
}

h1, .h1 {
	font-size: 48px;
	line-height: 58px;
}

h2, .h2 {
	font-size: 35px;
	line-height: 30px;
	span {
		text-transform: lowercase;
		span {
			color: $orange;
		}
	}
	&.line {
		border-left: 10px solid $orange;
		padding-left: 15px;
		margin-left: -25px;
		padding-top: 4px;
		margin-bottom: 25px;
	}
}

h3, .h3 {
	font-size: 30px;
	line-height: 40px;
}

h4, .h4 {
	font-size: 20px;
	line-height: 30px;
	text-transform: uppercase;
	color: $darkgray;
}

h5, .h5 {
	text-transform: uppercase;
}

hr {
    border: 0;
    height: 1px;
	max-width: 60px;
	margin: 20px auto 25px auto;
	background: $orange;
}

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

a {
	text-decoration: none;
}

p {
	margin-bottom: 15px;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

.aligncenter {
	text-align: center;
}

.alignright {
	text-align: right;
}

.alignleft {
	text-align: left;
}

.nopadtop {
	padding-top: 0;
}

.nopadbottom {
	padding-bottom: 0 !important;
}

// Base Layout
body {
	font: 16px $font;
	color: $darkgray;
	background-color: $white;
	font-weight: 300;
	line-height: 28px;
}

.container {
	@include outer-container;
	width: 90%;
}

.small_container {
	max-width: 800px;
	margin: 0 auto;
}

.section {
	padding: 120px 0;
}

.small_section {
	padding: 40px 0;
}

.intro {
	margin: auto;
	max-width: 830px;
	text-align: center;
	h2 {
		margin-bottom: 10px;
	}
	p {
		margin: 0 auto 20px auto;
		max-width: 730px;
	}
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background: #4b4b4b;
	opacity: 0.75;
}

.pattern {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background: url(../images/pattern.png) repeat center top;
	opacity: 0.55;
	transition: all 200ms ease-in-out;
}


header {
	width: 100%;
	background-attachment: fixed;
	background-size: cover;
	.logo {
		display: block;
		position: absolute;
		left: 50%;
		margin-left: -130px;
		padding-top: 3%;
		max-width: 260px;
		height: auto;
		z-index: 20;
		img {
			width: 100%;
			height: auto;
		}
	}		
	.container {
		@include vertical-align;
		position: relative;
		z-index: 20;
		top: 55%;
		width: 60%;
		color: $white;
		font-size: 17px;
		line-height: 28px;
		margin-left: 5%;
		h1 {
			margin-bottom: 10px;
			font-size: 80px;
			line-height: 90px;
			text-transform: none;
		}
	}
}

.main_nav {
	background: $darkgray;
	text-align: center;
	position: relative;
	width: 100%;
	transition: all 200ms ease;
	.logo {
		background: url(../images/nav_logo.svg) no-repeat center center;
		display: block;
		width: 50px;
		height: 50px;
		text-indent: -9999px;
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -25px;
		margin-top: -25px;
		transition: all 200ms ease;
		z-index: 10001;
		a {
			display: block;
			width: 50px;
			height: 50px;
			text-indent: -9999px;
			position: absolute;
			left: 50%;
			top: 50%;
			margin-left: -25px;
			margin-top: -25px;
		}
	}
	.navigation {
		padding: 10px 0;
		display: block;
		width: 100%;
		li {
			display: inline-block;
			zoom:1;
			*display: inline;
			color: $white;
			position: relative;
			margin-right: 20px;
			padding: 15px 20px;
			&:nth-child(3) {
				padding-right: 8%;
			}
			&:nth-child(4) {
				padding-left: 5%;
			}
			&:last-child {
				margin-right: 5%;
			}	
		}
		.current-menu-item {
			a {
				border-bottom: 1px solid $orange;
			}
			.sub-menu a {
				border-bottom: 0 !important;
			}
		}
		a {
			color: inherit;
			font-weight: 300;
			text-transform: uppercase;
		}
		.sub-menu {
			display: none;
			position: absolute;
			top: 100%;
			background: $darkgray;
			text-align: left;
			z-index: 10000;
			li {
				float: none;
				margin-top: 0;
				padding: 10px 20px;
			}
		}
		.menu-item-has-children {
			&:hover {
				.sub-menu {
					display: block;
				}
			}
		}
	}
}

.secondary_nav {
	background: #343434;
	text-align: center;
	position: relative;
	width: 100%;
	padding: 15px 0 10px 0;
	.navigation {
		display: inline-block;
		zoom:1;
		*display: inline;
		li {
			float: left;
			padding: 0 20px;
		}
		a {
			color: #d7d7d7;
		}
		.current {
			color: #d7d7d7;
			font-weight: 500;
			border-bottom: 1px solid $orange;
		}
	}
}

.sticky {
	position: fixed !important;
	top: 0;
	left: 0;
	z-index: 9999;
}

.secondary_nav.sticky {
	border-bottom: 1px solid rgba(0,0,0,0.05);
}

.header_toggle {
	display: none;
	width: 25px;
	height: 25px;
	position: absolute;
	right: 5%;
	top: 50%;
	margin-top: -12px;
	cursor: pointer;
	span {
		background: url(../images/menu.svg) no-repeat center center;
		display: block;
		width: 25px;
		height: 25px;
		transition: all 200ms ease-in-out;
	}
}

.scroll_down {
	display: inline-block;
	@include horizontal-align;
	bottom: 25px;
	position: absolute;
	display: block;
	width: 20px;
	height: 20px;
	z-index: 25;
	color: $white;
	opacity: 0.5;
}

// Footer Styles 
footer {
	background: $darkgray;
	padding: 90px 0 20px 0;
	color: $lightgray;
	font-weight: 300;
	a {
		color: inherit;
	}
	.upper_footer {
		@include clearfix;
		.footer_section {
			@include span-columns(2.666);
			&.subscribe {
				@include span-columns(4);
				.button-orange-solid {
					width: 100%;
					display: block;
					text-align: center;
				}
			}	
		}
		h4 {
			color: $white;
		}
	}	
	.footer_divider {
		border-top: 1px solid #636565;
		position: relative;
		z-index: 10;
		opacity: 0.5;
		margin-top: 50px;
		.divider_logo_wrapper {
			position: relative;
			display: block;
			width: 70px;
			height: 70px;
			margin: 0 auto;
		}
		.padding {
			position: absolute;
			background-color: $darkgray;
			display: block;
			width: 52px;
			height: 70px;
			z-index: 70;
			left: 8px;
		}
		.divider_logo {
			margin: -35px auto 0 auto;
			width: 70px;
			height: 70px;
			z-index: 80;
			position: relative;
			img {
				display: block;
				width: 70px;
				height: 70px;
				position: relative;
				z-index: 50;
			}
		}
	}
	.lower_footer {
		@include clearfix;
		.copyright {
			float: left;
		}
		.credentials {
			float: right;
		}
	}
}

.social_links {
	@include clearfix;
	li {
		float: left;
		width: 20px;
		height: 20px;
		display: block;
		margin-right: 10px;
		&:last-child {
			margin-right: 0;
		}
	}
}

// Form Elements 
input, textarea {
	padding: 10px 15px;
	border: 0;
	background: $whitegray;
	transition: all 300ms ease;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	font-weight: inherit;
	-webkit-appearance:	none;
	-moz-appearance:    none;
	appearance:         none;
	border-radius: 0;
}

textarea {
	resize: vertical;
}