@media #{$desktop} {

	.what_is_life_development {
		width: 100%;
		float: none;
	}
	
	.life_development_video {
		display: block;
		width: 100%;
		float: none;
		text-align: center;
		margin: 60px auto 0 auto !important;
	}
	
}