@media #{$mobile} {

	.press_releases {
		display: none;
	}
	
	.chemical_dependency_images {
		@include clearfix;
		li {
			float: left;
			img {
				position: relative;
				display: block;
				width: 100%;
				height: auto;
			}
			&:nth-child(1) {
				width: 40%;
			}
			&:nth-child(2) {
				width: 32%;
				img {
					top: -2em;
				}
			}
			&:nth-child(3) {
				width: 28%;
				img {
					top: 2em;
				}
			}
		}
	}
	
	.office_locations {
		@include span-columns(12);
	}
	
	.contact_locations {
		@include clearfix;
		li {
			@include span-columns(12);
			margin-top: 0;
			margin-bottom: 50px;
			h4 {
				color: $orange;
			}
			p {
				margin: 0;
			}
			&:nth-child(even) {
				@include shift(0);
			}
		}
	}
	
	.form_wrapper {
		@include span-columns(12);
		.ninja-forms-required-items {
			display: none;
		}
		.field-wrap {
			margin-bottom: 2% !important;
		}
		.grid-6-wrap {
			@include span-columns(12);
			input {
				width: 100%;
			}
			&.omega-wrap {
				margin-right: 0;
			}
		}
		.grid-12-wrap {
			@include span-columns(12);
			input, select {
				width: 100% !important;
			}
		}
		.button-orange-solid {
			display: block;
			width: 100%;
			&:hover {
				cursor: pointer;
			}
		}
	}

	.location_bucket {
		background-position: center center;
		background-size: cover;
		padding: 7em 0;
		color: $white;
		position: relative;
		margin-bottom: 10px;
		a.block_link {
			position: absolute;
			top: 0; left: 0;
			width: 100%;
			height: 100%;
			text-indent: -9999px;
			z-index: 50;
		}
		&:hover {
			.pattern {
				opacity: 0.75;
			}
		}
		.container {
			position: relative;
			z-index: 40;
			h1 {
				margin-top: 15px;
				font-size: 50px;
				line-height: 40px;
			}
			p.button {
				margin-top: 10px !important;
			}
		}
	}
	
	.services_wrapper {
		.section_header {
			@include clearfix;
			margin-bottom: 40px;
			h2 {
				display: block;
				float: none;
			}
			p.button {
				display: block;
				margin-top: 0 !important;
				float: none;
			}
		}
	}
	
	.slider__arrows {
		display: none;
	}
}