.slider {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;

	/*fix other elements on the page moving (on Chrome)*/
	-webkit-transform: translatez(0);
	-moz-transform: translatez(0);
    	-ms-transform: translatez(0);
    	-o-transform: translatez(0);
    	transform: translatez(0);

	// Slides wrapper
	&__wrapper {
		height: 100%;
		list-style: none;

		// Clear fix
		@include clearfix;
	}

	// Single slide
	&__item {
		height: 100%;
		float: left;
		clear: none;
	}

	// Slider arrows
	&__arrows {

		&-item {
			position: absolute;
			z-index: 20;
			margin-bottom: -20px;
			padding: 20px;
			text-indent: -9999px;
			opacity: 0.25;
			display: block;
			width: 26px;
			height: 45px; 
			transition: opacity 300ms ease;

			&--right {
				background: url(../images/right_arrow.svg) no-repeat center center;
				bottom: 50%; right: 30px;
			}
			&--left { 
				background: url(../images/left_arrow.svg) no-repeat center center;
				bottom: 50%; left: 30px; 
			}
			&:hover {
				opacity: 0.75;
			}
		}

	}

	// Slider navigation
	&__nav {
		position: absolute;
		bottom: 30px;

		// Navigation item
		&-item {
			width: 12px;
			height: 12px;
			float: left;
			clear: none;
			display: block;
			margin: 0 5px;
			background: #fff;

			// Navigation current item
			&--current {
				background: #ccc;
			}

			&:hover {
				background: #ccc;
			}
		}

	}

}
