@media #{$tabletsmall} {

	header {
		width: 100%;
		background-attachment: fixed;
		background-size: cover;
		.logo {
			display: block;
			position: absolute;
			left: 50%;
			margin-left: -90px;
			padding-top: 6%;
			max-width: 180px;
			height: auto;
			z-index: 20;
			img {
				width: 100%;
				height: auto;
			}
		}		
		.container {
			h1 {
				margin-bottom: 10px;
				font-size: 40px;
				line-height: 45px;
				text-transform: none;
			}
		}
	}

	.home header {
		.container {
			width: 100%;
			text-align: center;
			margin: 0 auto;
			h1 {
				font-size: 70px;
				line-height: 50px;
				text-transform: uppercase;
			}
			h3 {
				color: $lightgray;
				margin-top: -10px;
				font-weight: 300;
				font-family: $font;
				font-size: 24px;
				line-height: 34px;
				text-transform: uppercase;
			}
		}
	}
	
	.news_buckets.horizontal {
		border-top: 0;
		.news_bucket {
			float: none;
			width: 100%;
			padding: 5%;
			margin-bottom: 5%;
			border-right: 0;
			border-bottom: 1px solid #ccc;
			&:last-child {
				border-bottom: 0;
			}
			.read_more {
				margin-top: 15px;
				a {
					color: $orange;
					font-weight: 400;
				}
			}
		}
	}

	
	footer {
		.upper_footer {
			@include clearfix;
			.footer_section {
				width: 100%;
				margin-bottom: 5%;
				&.subscribe {
					width: 100%;
					.button-orange-solid {
						width: 100%;
						display: block;
						text-align: center;
					}
				}	
			}
		}
		.lower_footer {
			@include clearfix;
			.copyright {
				margin-top: 10px;
			}
			.copyright, .credentials {
				width: 100%;
				text-align: center;
				float: none;
				margin-bottom: 0;
			}
		}
	}
	
	.philosophy_wrapper {
		background: url(../images/philosophy_bg.jpg) no-repeat center top;
		background-size: cover;
		background-attachment: fixed;
		color: $white;
		position: relative;
		.container {
			position: relative;
			z-index: 30;
			.philosophy_left {
				width: 100%;
				float: none;
				margin-bottom: 40px;
			}
			.philosophy_right {
				width: 100%;
				float: none;
				margin-left: 0;
			}
		}
	}
	
	.mental_health_bottom {
		display: block;
		width: 100%;
	}
	
	.mental_health_specifics, .mental_health_stats {
		position: relative;
		display: block;
		width: 100%;
		margin-right: 0;
		padding: 100px 5%;
	}

	.map_wrapper {
		@include clearfix;
		height: auto;
		.location_map, .location_image {
			float: none;
			width: 100%;
			height: 300px;
		}
		.location_image {
			height: auto;
			img {
				display: block;
				width: 100%;
				height: auto;
			}
		}
	}
	
}