@media #{$tablet} {

	header {
		width: 100%;
		background-attachment: fixed;
		background-size: cover;
		.logo {
			display: block;
			position: absolute;
			left: 50%;
			margin-left: -115px;
			padding-top: 6%;
			max-width: 230px;
			height: auto;
			z-index: 20;
			img {
				width: 100%;
				height: auto;
			}
		}		
		.container {
			@include vertical-align;
			position: relative;
			z-index: 20;
			top: 55%;
			width: 60%;
			color: $white;
			font-size: 17px;
			line-height: 28px;
			margin-left: 5%;
			h1 {
				margin-bottom: 10px;
				font-size: 80px;
				line-height: 90px;
				text-transform: none;
			}
		}
	}
	
	.main_nav {
		background: $darkgray;
		text-align: center;
		position: relative;
		width: 100%;
		height: 60px;
		.logo {
			background: url(../images/nav_logo.svg) no-repeat center center;
			display: block;
			width: 40px;
			height: 40px;
			text-indent: -9999px;
			position: absolute;
			left: 5%;
			top: 50%;
			margin-top: -20px;
			margin-left: 0;
			a {
				display: block;
				width: 40px;
				height: 40px;
				text-indent: -9999px;
				position: absolute;
				left: 5%;
				top: 50%;
				margin-top: -20px;
				margin-left: 0;
				line-height: 50px;
				padding: 0;
			}
		}
		.navigation {
			padding: 0;
			background: $darkgray;
			display: block;
			text-align: left;
			position: absolute;
			top: 60px;
			right: 0;
			width: 100%;
			height: auto;
			display: none;
			overflow: hidden;
			transition: all 200ms ease-in-out;
			li {
				float: none;
				width: 100%;
				padding: 5px 5%;
				color: $white;
				line-height: 21px;
				margin-top: 0;
				&:nth-child(3) {
					padding-right: 5%;
				}	
				&:nth-child(4) {
					padding-left: 5%;
				}			
			}
			.current-menu-item {
				a {
					border-bottom: 1px solid $orange;
				}
				.sub-menu a {
					border-bottom: 0 !important;
				}
			}
			a {
				line-height: 30px;
				padding: 0;
				color: inherit;
				font-size: 14px;
				font-weight: 300;
				text-transform: uppercase;
			}
			.sub-menu {
				display: block;
				position: relative;
				top: 0;
				background: $darkgray;
				text-align: left;
				z-index: 10000;
				li {
					width: 100%;
					float: none;
					margin-top: 0;
					padding: 0 20px 0 25px;
				}
			}
		}
		
	}
	
	.header_toggle {
		display: block;
	}
	
	.toggled {
		.navigation {
			z-index: 9999;
			display: block;
		}
	}
	
	header {	
		.container {
			width: 90%;
			margin-right: 5%;
		}
	}
	
	.hp_services {
		@include clearfix;
		margin-top: 100px;
		.hp_service {
			float: none;
			width: 100%;
			border-bottom: 1px solid #ccc;
			margin-bottom: 5%;
			padding: 5% 0;
			&:nth-child(odd) {
				padding-right: 0%;
			}
			&:nth-child(even) {
				padding-left: 0%;
			}
			h2 {
				margin-bottom: 10px;
			}
			p.button {
				margin-top: 40px;
			}
		}
		& > li:nth-last-of-type(-n+2) {
			border-bottom: 1px solid #ccc;
		}
	}
	
	#who_we_work_with {
		width: 100%;
		height: auto;
		padding: 10em 0;
		background: url(../images/half_logo_bg.jpg) no-repeat center center;
		background-attachment: fixed;
		position: relative;
		.container {
			position: relative;
			z-index: 20;
			top: 0;
			width: 90%;
			color: $white;
			font-size: 17px;
			line-height: 28px;
			margin-left: 5%;
			margin-right: 5%;
			h1 {
				margin-bottom: 10px;
				font-size: 80px;
				line-height: 90px;
				text-transform: none;
			}
		}
	}
	
	.videos_wrapper {
		@include clearfix;
		li {
			float: none;
			width: 100%;
			margin-bottom: 50px;
			&:nth-child(even) {
				float: none;
			}
			&:nth-child(odd) {
				clear: both;
			}
			.video {
				position: relative;
				margin-bottom: 30px;
				cursor: pointer;
				overflow: hidden;
				.watch_video {
					position: absolute;
					font-size: 24px;
					letter-spacing: 2px;
					text-transform: uppercase;
					font-weight: 100;
					color: $white;
					text-align: center;
					top: -100%;
					left: 50%;
					margin-top: -14px;
					margin-left: -80px;
					transition: all 300ms ease;
					z-index: 20;
				}
				.overlay {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					z-index: 10;
					background: #282828;
					opacity: 0.0;
					transition: all 200ms ease-in-out;
				}
				img {
					display: block;
					width: 100%;
					height: auto;
				}
				&:hover {
					.overlay {
						opacity: 0.85;
					}
					.watch_video {
						top: 50%;
					}
				}
				p {
					margin-bottom: 0;
				}
			}
			h2 {
				margin-bottom: 10px;
			}
		}
	}
	
	.office_locations {
		@include span-columns(12);
	}
	
	.contact_locations {
		@include clearfix;
		li {
			@include span-columns(5);
			margin-top: 0;
			margin-bottom: 50px;
			h4 {
				color: $orange;
			}
			p {
				margin: 0;
			}
			&:nth-child(even) {
				@include shift(1);
			}
		}
	}
	
	.form_wrapper {
		@include span-columns(12);
		.ninja-forms-required-items {
			display: none;
		}
		.field-wrap {
			margin-bottom: 2% !important;
		}
		.grid-6-wrap {
			@include span-columns(6);
			input {
				width: 100%;
			}
			&.omega-wrap {
				margin-right: 0;
			}
		}
		.grid-12-wrap {
			@include span-columns(12);
			input, select {
				width: 100% !important;
			}
		}
		.button-orange-solid {
			display: block;
			width: 100%;
			&:hover {
				cursor: pointer;
			}
		}
	}
	
	.team_wrapper {
		display: block;
		h2 {
			margin-bottom: 60px;
			@include clearfix;
		}
	}
	
	.team_headshots {
		width: 100%;
		display: block;
		float: none;
		border-right: 0;
		border-bottom: 1px solid #ccc;
		position: relative;
		list-style: none;
		padding-right: 0;
		padding-bottom: 15px;
		vertical-align: inherit;
		&:after {
		    clear: both;
		    content: ".";
		    display: block;
		    height: 0;
		    visibility: hidden;
			position: relative;
			top: auto;
			right: auto;
			background: none;
			width: auto;
			height: auto;
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
			border-radius: 0;
		}
		li {
			float: left;
			width: 11.113%;
			margin: 0;
			img {
				display: block;
				width: 100%;
				height: auto;
				-webkit-border-radius: 100%;
				-moz-border-radius: 100%;
				border-radius: 100%; 
				border: 2px solid transparent;
				transition: all 200ms ease-in-out;
			}
		}
		#current {
			img {
				border: 2px solid $orange;
			}
		}
	}
	
	.bio_wrapper {
		width: 100%;
		display: block;
		float: none;
		padding-left: 0;
		padding-top: 15px;
		.bio_meta {
			font-weight: 500;
			span {
				color: $orange;
			}
		}
	}
	
	.services_wrapper {
		background: url(../images/services_bg.jpg) no-repeat center top;
		background-attachment: scroll;
		background-size: cover;
		color: $white;
		padding-top: 65px;
		.services_list {
			@include clearfix;
			li {
				@include clearfix;
				width: 100%;
				float: none;
				display: block;
				margin-bottom: 40px;
				&:last-child {
					margin-bottom: 0;
				}
			}
			p {
				line-height: inherit;
			}
			.services_left {
				@include span-columns(12);
				.hours_rates {
					color: $orange;
				}
				h4 {
					font-family: $font;
					color: $white;
				}
			}
			.services_right {
				@include shift(0);
				@include span-columns(12);
			}
		}
	}

	
}