@import "neat/neat-helpers"; // or "neat-helpers" when in Rails

// Variables
$font: "source-sans-pro",sans-serif;
$headlinefont: "alternate-gothic-no-2-d",sans-serif;

$orange: #f36c3e;
$lightorange: #e96949;
$darkgray: #282828;
$lightgray: #9ea1a2;
$whitegray: #f4f4f4;
$white: #fff;

// Change the grid settings
$column: 90px;
$gutter: 40px;
$grid-columns: 12;
$max-width: 1380px;

$mobile: "only screen and (max-width : 480px)";
$tablet: "only screen and (max-width : 768px)";
$tabletsmall: "only screen and (max-width : 767px)";
$desktop: "only screen and (max-width : 1024px)";
$largedesktop: "only screen and (max-width : 1160px)";
