/* style.scss */
@import 'compass/reset';
@import 'variables';
@import "bourbon", "neat";

@import 'base';
@import 'slider';
@import 'jobs';

// Home Page Styles
.home header {
	.container {
		width: 100%;
		text-align: center;
		margin: 0 auto;
		h1 {
			font-size: 155px;
			line-height: 135px;
			text-transform: uppercase;
		}
		h3 {
			color: $lightgray;
			margin-top: -30px;
			font-weight: 300;
			font-family: $font;
			font-size: 38px;
			line-height: 45px;
			text-transform: uppercase;
		}
	}
}

.half_logo_wrapper {
	background: url(../images/half_logo_bg.jpg) no-repeat center center;
	background-attachment: fixed;
	border-bottom: 1px solid #cccccc;
	margin-top: 100px;
	overflow: hidden;
	.half_logo {
		display: block;
		max-width: 530px;
		width: 70%;
		height: auto;
		margin: 0 auto;
		position: relative;
		&:before, &:after {
			content: "";
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			background: $white;
		}
		&:before {
			left: -100%;
		}
		&:after {
			right: -100%;
		}
		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}
}

.hp_services {
	@include clearfix;
	margin-top: 100px;
	.hp_service {
		float: left;
		width: 50%;
		border-bottom: 1px solid #ccc;
		padding: 5% 0;
		&:nth-child(odd) {
			padding-right: 5%;
		}
		&:nth-child(even) {
			padding-left: 5%;
		}
		h2 {
			margin-bottom: 10px;
		}
		p.button {
			margin-top: 40px;
		}
	}
	& > li:nth-last-of-type(-n+2) {
		border-bottom: 0;
	}
}

.testimonials {
	background: url(../images/testimonial_bg.jpg) no-repeat center top;
	color: $white;
	text-align: center;
	position: relative;
	.pattern {
		opacity: 0.45;
	}
	.testimonial_slider {
		z-index: 20;
		.intro {
			width: 80%;
		}
	}
}

.hp_locations {
	background: url(../images/locations_bg.jpg) no-repeat center top;
	background-size: cover;
}

.hp_news {
	margin-top: 65px;
}

.section_header {
	@include clearfix;
	margin-bottom: 40px;
	h2 {
		display: inline-block;
		float: left;
	}
	p.button {
		margin-top: 0 !important;
		float: right;
	}
}

// About Styles
.philosophy_wrapper {
	background: url(../images/philosophy_bg.jpg) no-repeat center top;
	background-size: cover;
	color: $white;
	position: relative;
	.container {
		position: relative;
		z-index: 30;
		.philosophy_left {
			@include span-columns(6);
			h2 {
				margin-bottom: 20px;
			}
		}
		.philosophy_right {
			@include shift(1.5);
			@include span-columns(4.5);
			position: relative;
			font-size: 30px;
			line-height: 40px;
			font-weight: 300;
			margin-top: 120px;
			p {
				position: relative;
				z-index: 30;
			}
			&:before {
				content: "";
				display: block;
				background: url(../images/quote_icon.svg) no-repeat center center;
				width: 110px;
				height: 110px;
				position: absolute;
				top: -80px;
				left: -50px;
				opacity: 0.5;		
				z-index: 20;		
			}
		}
	}
}

.press_releases {
	border-bottom: 1px solid #ccc;
}

.press_releases_wrapper {
	display: table;
}

.press_releases_nav {
	@include span-columns(4);
	display: table-cell;
	float: none;
	border-right: 1px solid #ccc;
	position: relative;
	list-style: none;
	padding-right: 2.63158%;
	&:after {
		content: "";
		display: block;
		position: absolute;
		top: -6px;
		right: -6px;
		background: #ccc;
		width: 12px;
		height: 12px;
		-webkit-border-radius: 100%;
		-moz-border-radius: 100%;
		border-radius: 100%; 
	}
	li {
		margin-bottom: 25px;
		img {
			display: block;
			width: 100%;
			height: auto;
			-webkit-border-radius: 100%;
			-moz-border-radius: 100%;
			border-radius: 100%; 
			border: 2px solid transparent;
			transition: all 200ms ease-in-out;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
	#current {
		img {
			border: 2px solid $orange;
		}
	}
	a {
		color: $orange;
	}
	.press_release_date {
		font-style: italic;
		margin-bottom: 0;
	}
}

.press_releases_content {
	@include span-columns(8);
	display: table-cell;
	float: none;
	padding-left: 2.63158%;
	a {
		color: $orange;
	}
}

.additional_information {
	.forms {
		margin-top: 40px;
		li {
			margin-bottom: 5px;
			a {
				color: $lightorange;
			}
		}
	}
}

.our_story_video {
	margin-top: 50px;
}


// How We Work Styles
.programs_wrapper {
	hr {
		background: #cccccc;
		max-width: 90%;
		margin-top: 5%;
		margin-bottom: 5%;
	}
}
.program_images {
	@include clearfix;
	li {
		float: left;
		width: 25%;
		a {
			display: block;
			width: 100%;
			height: 100%;
			opacity: 0.25;
			cursor: pointer;
			transition: all 200ms ease;
			&:hover, &#current {
				opacity: 1;
			}
		}
		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}
}

.life_development_intro {
	position: relative;
	background: url(../images/life_development_bg.jpg) no-repeat center top;
	background-size: cover;
	.intro {
		position: relative;
		z-index: 30;
		width: 90%;
		color: $white;
	}
}

.what_is_life_development {
	@include span-columns(5.5);
	h2 {
		margin-bottom: 30px;
	}
}

.life_development_video {
	@include shift(.5);
	@include span-columns(6);
}

#who_we_work_with {
	width: 100%;
	height: auto;
	padding: 10em 0;
	background: url(../images/half_logo_bg.jpg) no-repeat center center;
	position: relative;
	.container {
		position: relative;
		z-index: 20;
		width: 60%;
		color: $white;
		font-size: 17px;
		line-height: 28px;
		margin-left: 5%;
		h1 {
			margin-bottom: 10px;
			font-size: 80px;
			line-height: 90px;
			text-transform: none;
		}
	}
}

.mental_health_bottom {
	display: table;
	width: 100%;
}

.mental_health_specifics, .mental_health_stats {
	position: relative;
	display: table-cell;
	width: 50%;
	margin-right: 0;
	padding: 5%;
}

.mental_health_specifics {
	background: $whitegray;
	.specific {
		margin-bottom: 100px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.mental_health_stats {
	background: url(../images/stats_bg.jpg) no-repeat right center;
	background-size: cover;
	color: $white;
	.wrapper {
		position: relative;
		z-index: 30;
		h1 {
			color: $orange;
			margin-bottom: 0;
		}
	}
}

.stats {
	li {
		margin-bottom: 50px;
		.stat {
			font-size: 70px;
			line-height: 60px;
			margin-bottom: 0;
		}
	}
}

.chemical_dependency_images {
	@include clearfix;
	li {
		float: left;
		img {
			position: relative;
			display: block;
			width: 100%;
			height: auto;
		}
		&:nth-child(1) {
			width: 40%;
		}
		&:nth-child(2) {
			width: 32%;
			img {
				top: -4em;
			}
		}
		&:nth-child(3) {
			width: 28%;
			img {
				top: 4em;
			}
		}
	}
}


// Locations Styles 
.location_bucket_wrapper {
	margin-top: 100px;
}

.location_bucket {
	background-position: center center;
	background-size: cover;
	padding: 12em 0;
	color: $white;
	position: relative;
	margin-bottom: 10px;
	a.block_link {
		position: absolute;
		top: 0; left: 0;
		width: 100%;
		height: 100%;
		text-indent: -9999px;
		z-index: 50;
	}
	&:hover {
		.pattern {
			opacity: 0.75;
		}
	}
	.container {
		position: relative;
		z-index: 40;
		h1 {
			margin-top: 15px;
			font-size: 100px;
			line-height: 90px;
		}
		p.button {
			margin-top: 10px !important;
		}
	}
}

.page-template-page-locations-single-php {
	.intro {
		p {
			margin-bottom: 0;
		}
	}
}

.locations_nav {
	@include clearfix;
	li {
		float: left;
		margin-right: 15px;
		&:last-child {
			margin-right: 0;
		}
	}
	a {
		color: $orange;
	}
}


.map_wrapper {
	@include clearfix;
	height: 450px;
	.location_map, .location_image {
		float: left;
		width: 50%;
		height: 450px;
		overflow: hidden;
	}
	.location_image {
		img {
			display: block;
			width: auto;
			height: 100%;
		}
	}
}

.team_wrapper {
	display: block;
	h2 {
		margin-bottom: 60px;
		@include clearfix;
	}
}

.team_headshots {
	width: 100%;
	display: block;
	float: none;
	border-right: 0;
	border-bottom: 1px solid #ccc;
	position: relative;
	list-style: none;
	padding-right: 0;
	padding-bottom: 15px;
	vertical-align: inherit;
	&:after {
	    clear: both;
	    content: ".";
	    display: block;
	    height: 0;
	    visibility: hidden;
		position: relative;
		top: auto;
		right: auto;
		background: none;
		width: auto;
		height: auto;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
	}
	li {
		float: left;
		width: 10.11%;
		margin: 0 0.5% 0.5% 0.5%;
		img {
			display: block;
			width: 100%;
			height: auto;
			-webkit-border-radius: 100%;
			-moz-border-radius: 100%;
			border-radius: 100%; 
			border: 2px solid transparent;
			transition: all 200ms ease-in-out;
		}
	}
	#current {
		img {
			border: 2px solid $orange;
		}
	}
}

.bio_wrapper {
	width: 100%;
	display: block;
	float: none;
	padding-left: 0;
	padding-top: 25px;
	.bio_meta {
		font-weight: 500;
		span {
			color: $orange;
		}
	}
}

.services_wrapper {
	background: url(../images/services_bg.jpg) no-repeat center top;
	background-attachment: scroll;
	background-size: cover;
	color: $white;
	padding-top: 65px;
	.services_list {
		@include clearfix;
		li {
			@include clearfix;
			width: 100%;
			float: none;
			display: block;
			margin-bottom: 40px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		p {
			line-height: inherit;
		}
		.services_left {
			@include span-columns(3.5);
			.hours_rates {
				color: $orange;
			}
			h4 {
				font-family: $font;
				color: $white;
			}
		}
		.services_right {
			@include shift(.5);
			@include span-columns(8);
		}
	}
}

.btw {
	margin-top: 70px;
	margin-bottom: 70px;
	display: inline-block;
	zoom:1;
	*display: inline;
	li {
		float: left;
		padding: 0 20px;
		max-width: 250px;
		max-height: 250px;
		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
	}
}

// Blog Styles 
.news_buckets.horizontal {
	border-top: 1px solid #ccc;
	.news_bucket {
		float: left;
		width: 33.3333%;
		padding: 5%;
		border-right: 1px solid #ccc;
		&:last-child {
			border-right: 0;
		}
		.read_more {
			margin-top: 15px;
			a {
				color: $orange;
				font-weight: 400;
			}
		}
	}
}

.news_buckets.vertical {
	display: block;
	max-width: 800px;
	margin: 0 auto;
	.news_bucket {
		float: none;
		width: 100%;
		padding: 0 0 10% 0;
		margin: 0 0 10% 0;
		border-bottom: 1px solid #ccc;
		&:last-child {
			border-bottom: 0;
			margin-bottom: 0;
			padding-bottom: 0;
		}
		.read_more {
			margin-top: 35px;
			a {
				color: $white;
				font-weight: 400;
			}
		}
	}
}

article {
	@include clearfix;
	img {
		display: block;
		max-width: 100%;
		max-height: 100%;
		width: auto;
		height: auto;
	}
	a {
		color: $orange;
	}
}

.category_header {
	margin-bottom: 100px;
}

.entry_date {
	font: 28px $headlinefont;
	color: $white;
	background: $darkgray;
	display: block;
	width: 80px;
	height: 80px;
	border-radius: 100%;
	text-align: center;
	&:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}
	span {
		display: inline-block;
		vertical-align: middle;
		width: 100%;
	}
}


.entry_thumb {
	margin-bottom: 15px;
	position: relative;
	.entry_date {
		position: absolute;
		z-index: 20;
		top: -20px;
		left: -20px;
	}
}

.entry_thumb {
	margin-bottom: 25px;
	position: relative;
	.entry_date {
		position: absolute;
		z-index: 20;
		top: -20px;
		left: -20px;
	}
}

.entry_title {
	font-weight: 700;
	margin-bottom: 0;
	a {
		color: inherit;
	}
}

.entry_meta {
	color: $orange;
	a {
		color: inherit;
		&:hover {
			text-decoration: underline;
		}
	}
}

article.episodes {
	@include clearfix;
	.entry_thumb {
		float: left; 
		width: 20%;
	}
	.entry_content {
		float: left;
		width: 80%;
		padding-left: 3%;
	}
	.entry_date {
		font: 24px $headlinefont;
		color: lighten($darkgray, 50%);
		background: transparent;
		display: block;
		width: auto;
		height: auto;
		border-radius: 0;
		text-align: left;
		text-transform: uppercase;
		margin-bottom: 5px;
		&:before {
			content: '';
			display: none;
			height: 100%;
			vertical-align: middle;
		}
		span {
			display: inline-block;
			vertical-align: middle;
			width: 100%;
		}
	}
	.entry_title {
		margin-bottom: 0px;
	}
	.entry_audio {
		margin-bottom: 20px;
	}
	.audio_links span {
		margin-right: 10px;
	}
}


.categories_wrapper {
	margin-top: 80px;
}

.categories {
	text-align: center;
	li {
        display:inline-block;
        *display:inline; /*IE7*/
        *zoom:1; /*IE7*/
		margin: 0 10px;
	}
	a {
		color: inherit;
		&:hover {
			text-decoration: underline;
		}
	}
}


// Single Blog Styes
body.single {
	header {
		display: none;
	}
	article {
		border-bottom: 1px solid #ccc;
	}
}

.addthis_toolbox {
	margin: 50px 0 25px;
}

.post_navigation {
	@include clearfix;
	margin-top: 15px;
	.post_nav_item {
		@include span-columns(6);
	}
	.next {
		text-align: right;
	}
	a {
		color: $orange;
	}
}

.comments {
	margin-top: 60px;
}

// Pagination
.pagination {
	text-align: center;
	margin-top: 80px;
}
ul.page-numbers {
	display: inline-block;
	zoom:1;
	*display: inline;
    list-style: none;
    margin: 0;
}

.page-numbers:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

ul.page-numbers li {
    display: block;
    float: left;
    margin: 0 4px 4px 0;
    text-align: center;
}

.page-numbers a,
.page-numbers span {
    line-height: 1.6em;
    display: block;
    padding: 0 6px;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    font-weight: 400;
    cursor: pointer;
    border: 1px solid #ddd;
    color: #888;
}

.page-numbers a span { padding: 0 }

.page-numbers a:hover,
.page-numbers.current,
.page-numbers.current:hover {
    color: #000;
    background: #f7f7f7;
    text-decoration: none;
}

.page-numbers:hover { text-decoration: none }


// Videos Styles
.videos_wrapper {
	@include clearfix;
	li {
		float: left;
		width: 45%;
		margin-bottom: 5%;
		&:nth-child(even) {
			float: right;
		}
		&:nth-child(odd) {
			clear: both;
		}
		.video {
			position: relative;
			margin-bottom: 30px;
			cursor: pointer;
			overflow: hidden;
			.watch_video {
				position: absolute;
				font-size: 24px;
				letter-spacing: 2px;
				text-transform: uppercase;
				font-weight: 100;
				color: $white;
				text-align: center;
				top: -100%;
				left: 50%;
				margin-top: -14px;
				margin-left: -80px;
				transition: all 300ms ease;
				z-index: 20;
			}
			.overlay {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 10;
				background: #282828;
				opacity: 0.0;
				transition: all 200ms ease-in-out;
			}
			img {
				display: block;
				width: 100%;
				height: auto;
			}
			&:hover {
				.overlay {
					opacity: 0.85;
				}
				.watch_video {
					top: 50%;
				}
			}
			p {
				margin-bottom: 0;
			}
		}
		h2 {
			margin-bottom: 10px;
		}
	}
}

.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	background: #282828;
	z-index: 10005;
	.vid_wrap {
		position: relative;
		width: 80%;
		max-width: 900px;
		top: 50%;
		left: 50%;
		padding-bottom: 40%; /* 16:9 */
		height: 0;
		-webkit-transform: translate(-50%, -50%); 
		-moz-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%); 
		transform: translate(-50%, -50%);
	}
	.vid_wrap iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.modal.open {
	display: block;
}

#shark_tank, #lahh, #nyhh, #campout, #ghost_ship {
	display: none;
}

.close_link {
	background: url(../images/close.svg) no-repeat center center;
	width: 30px;
	height: 30px;
	display: block;
	position: absolute;
	right: 3%;
	top: 6%;
	cursor: pointer;
	text-indent: -9999px;
	opacity: 0.7;
	
	transition: all 200ms;
}

.close_link:hover {
	opacity: 1;
}


// Contact Styles
.office_locations {
	@include span-columns(5);
}

.contact_locations {
	li {
		margin-top: 60px;
		h4 {
			color: $orange;
		}
		p {
			margin: 0;
		}
	}
}

.form_wrapper {
	@include span-columns(7);
	.ninja-forms-required-items {
		display: none;
	}
	.field-wrap {
		margin-bottom: 2% !important;
	}
	.grid-6-wrap {
		@include span-columns(6);
		input {
			width: 100%;
		}
		&.omega-wrap {
			margin-right: 0;
		}
	}
	.grid-12-wrap {
		@include span-columns(12);
		input, select {
			width: 100% !important;
		}
	}
	.button-orange-solid {
		display: block;
		width: 100%;
		&:hover {
			cursor: pointer;
		}
	}
}

// Media Queries
@import 'desktop';
@import 'tablet';
@import 'tabletsmall';
@import 'mobile';